.card {
    border-radius: 10px;
    color: white;
    height: 300px;
}

.card-col {
    background-color: rgb(89, 86, 226);
}

.card-body {
    margin-top: 5%;
}

.card-title {
    font-weight: bold;
    font-size: 3.1rem;
}

.container {
    margin-top: 10%;
}

.dropdown-toggle::after {
    display: none;
}

.fa-angle-down {
    size: 5x;
}

.nav-link {
    color: black;
}


.navbar-brand{
    color: black;
}

.btn-login {
    background-color: rgb(89, 86, 226);
    width: 10%;
}

.trials-btn {
    background-color: rgb(89, 86, 226);
    color: white;
}

.title {
    width: 80%;
    height: 70%;
    padding: 10%;
}

.title-btn {
    margin-right: 5%;
}

.hosting-img {
    width: 100%;
    height: 100%;
}

.circular-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

h2 {
    margin: 0px;
}

.caret-dom-top {
    position: absolute;
    z-index: 1;
    top: -5%;
    right: 58%;
    color: rgb(55, 221, 180);
    transform: rotate(-20deg);
}

.caret-dom-lef {
    position: absolute;
    z-index: 1;
    top: 70%;
    left: -2%;
    color: rgb(55, 221, 180);
    transform: rotate(20deg);
}

.success-web {
    width: 100%;
    height: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.caret-dom-bot {
    position: absolute;
    z-index: 1;
    top: 75%;
    right: -2.5%;
    color: rgb(55, 221, 180);
    transform: rotate(-30deg);
}

.caret-success-top {
    position: absolute;
    z-index: 1;
    top: -5%;
    right: 58%;
    color: rgb(55, 221, 180);
    transform: rotate(-20deg);
}

.caret-success-lef {
    position: absolute;
    z-index: 1;
    top: 70%;
    left: -2%;
    color: rgb(55, 221, 180);
    transform: rotate(20deg);
}

.caret-success-bot {
    position: absolute;  
    z-index: 1;
    top: 75%;
    right: -2.5%;
    color: rgb(55, 221, 180);
    transform: rotate(-30deg);
}

.host-img {
    width: 70%;
    height: 70%;
    margin-left: 10%;
    align-items: center;
}

.details {
    width: 100%;
    height: auto;
    padding: 5%;
    padding-left: 15%;
}

.image1 {
    margin-right: 3%;
    float: left;
}

.text1 {
    display: inline;
}

.learn-more {
    color: rgb(89, 86, 226);
    cursor: pointer;
    text-decoration: none;
}

.domain-container {
    width: 55%;
    height: 60px;
    margin-left: 23%;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.domain-input {
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: block;
    padding: 20px;
    outline: none;
    border: none;
}

.domain-btn1 {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin-top: 5px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(89, 86, 226);
    color: white;
}

.navbar-brand {
    margin-left: 3%;
}

.domain-btn2 {
    position: absolute;
    right: 20px;
    top: 0;
    margin-top: 5px;
    margin-right: 100px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: black;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 15px;
    background-image: url('./arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-size: 30px;
}

.plans-div {
    width: 100%;
    height: auto;
    padding-top: 10%;
    background-color: whitesmoke;
}

.popular-btn {
    background-color: rgb(55, 221, 180);
    color: white;
    width: 100%;
}

.card-body {
    height: auto;
    width: 100%;
    background-color: transparent;
    color: black;
    border: solid 1px rgb(89, 86, 226);
    border-radius: 10px;
}

.plans-cont {
    margin-top: 0;
    padding-bottom: 7%;
}

.plan-btn {
    height: 5%;
    width: 95%;
}

.month-plan {
    display: inline;
}

.popular-card {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.pop-sel-btn {
    background-color: rgb(89, 86, 226);
    color: white;
}

/* .transform-origin1 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
} */

.transform-origin2 {
    clip-path: polygon(0 15%, 100% 0%,100% 83%, 0% 98%);
    background-color: whitesmoke;
    padding: 10%;
}

.get-started {
    background-color: whitesmoke;
    padding: 7%;
}

.web-siz {
    font-size: 4rem;
    font-weight: bold;
}

.start-btn {
    width: 15%;
    height: 10%;
    background-color: rgb(89, 86, 226);
    color: white;
    border-radius: 8px;
}

.foot-col {
    background-color: rgb(32, 29, 175);
    color: white;
    padding: 0.5%;
    margin-top: 20%;
}

.social-media a {
    text-decoration: none;
    color: white;
}

.caret-right {
    position: absolute;
    right: 17%;
    top: 8%;
    z-index: 1;
    color: rgb(89, 86, 226);
    transform: rotate(-40deg);
}

.caret-lef {
    position: absolute;
    color: rgb(89, 86, 226);
    left: 7.5%;
    top: 45%;
    transform: rotate(40deg);
    z-index: 1;
}

.caret-bot {
    position: absolute;
    color: rgb(89, 86, 226);
    right: 17%;
    top: 55%;
    transform: rotate(-40deg);
    z-index: 1;
}

@media screen and (max-width: 696px) {
    .btn-resp {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .trials-btn {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 3%;
    }

    .choose-btn {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .start-btn {
        width: 40%;
    }

    .card-body {
        text-align: center;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .domain-container {
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    .domain-input {
        margin-right: 10%;
    }

   .navbar {
       text-align: center;
   }

   .reliable-host {
       margin-left: 8%;
   }

   .host-img1 {
       text-align: center;
   }

   .transform-origin1 {
      margin-left: 20%;
   }

   .transform-origin2 {
       padding-top: 20%;
       justify-content: center;
   }

   .cus-sup {
       margin-left: 10%;
   }

   .extra-web {
       margin-left: 15%;
   }

   .simp {
       margin-left: 20%;
       margin-bottom: 10%;
   }

   .success-web {
       margin-left: 5%;
   }

   .get-cont {
       margin-right: 5%;
   }

   .plans-div {
       margin-left: 5%;
   }

   .foot-cen {
      margin-left: 5%;
   }

  
}